@page "/login"

@inject NavigationManager NavigationManager
@inject AuthStateService AuthState

<PageTitle>Login</PageTitle>

<div class="container">
    <div class="logo">
        <h1>Que Visto Hoje?</h1>
        <p>Store</p>
    </div>
    <EditForm Model="@login" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <InputText @bind-Value="login.Email" placeholder="E-mail" type="email" class="form-control" />
        </div>
        <div class="form-group">
            <InputText @bind-Value="login.Password" placeholder="Password" type="password" class="form-control" />
            <a href="login">Esqueci a minha password</a>
        </div>
        <button class="btn" type="submit">Entrar</button>
    </EditForm>
    <div class="signup">
        Não tem uma conta?
        <a href="register">Inscreva-se</a>
    </div>
</div>

<Notification IsVisible="@showNotification" Message="@notificationMessage" NotificationType="@notificationType" OnClose="@CloseNotification" />

@code {

    [Inject]
    public IApiServices? _apiService { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? ReturnUrl { get; set; }

    private Login login = new Login();
    private bool showNotification = false;
    private string notificationMessage = "";
    private string notificationType = "success";

    private async Task HandleLogin()
    {
        try
        {
            var result = await _apiService!.Login(login.Email, login.Password);

            if (result != null && result.Data == null)
            {
                ShowNotification($"{result.ErrorMessage}", "error");
            }
            else
            {
                AuthState.IsAuthenticated = true;

                var profileResult = await _apiService.GetProfile();
                if (profileResult != null && profileResult.Data != null)
                {
                    AuthState.User = profileResult.Data;
                }
                else
                {
                    ShowNotification($"Erro ao obter perfil: {profileResult!.ErrorMessage}", "error");
                    return; 
                }

                if (!string.IsNullOrEmpty(ReturnUrl))
                {
                    NavigationManager.NavigateTo(ReturnUrl);
                }
                else
                {
                    NavigationManager.NavigateTo("/");
                }
            }
        }
        catch (Exception ex)
        {
            ShowNotification($"{ex.Message}", "error");
        }
    }

    private void ShowNotification(string message, string type)
    {
        notificationMessage = message;
        notificationType = type;
        showNotification = true;
        StateHasChanged();
    }

    private void CloseNotification()
    {
        showNotification = false;
        StateHasChanged();
    }
}
