@page "/cart"
@using System.Collections.Generic

@inject AuthStateService AuthState
@inject NavigationManager NavigationManager
@inject CartService CartService

<PageTitle>Cart</PageTitle>

<div class="container">
    <div class="cart">
        <h1>O meu carrinho</h1>
        @foreach (var item in CartItems){

            <div class="item">
                <img alt="@item.Produto.Nome" height="80" src="@item.Produto.UrlImagem" width="80" />
                <div class="item-details">
                    <h2>@item.Produto.Nome</h2>
                    <p>Referência: @item.Produto.ID</p>
                    <p>Tamanhos: @item.Size</p>
                    <p>Marca: @item.Produto.Marca.Nome</p>
                </div>
                <div class="item-quantity">
                    <button @onclick="() => DecrementQuantity(item)">-</button>
                    <input type="text" value="@item.Quantity" />
                    <button @onclick="() => IncrementQuantity(item)">+</button>
                </div>
                <div class="item-price">
                    <p>@item.Quantity X @item.Price.ToString("F2")€ </p>
                    <p>@((item.Quantity * item.Price).ToString("F2"))€</p>
                    <a class="remove" @onclick="() => RemoveItem(item)">Remover</a>
                </div>
            </div>
        }
        <div class="back-to-shop">
            <i class="fas fa-arrow-left"></i>
            <a href="#">Voltar à loja</a>
        </div>
    </div>

    <div class="summary">
        <h2>@CartItems.Count Itens</h2>
        <p class="total">
            Total
            <span>Taxas incluídas</span>
        </p>
        <p class="total">@Total.ToString("F2")€</p>
        <button @onclick="Checkout">
            Finalizar Compra
        </button>
        <p class="terms">
            Li e aceito os <a href="#">Termos e Condições</a>
        </p>
        <div class="add-notes">Adicionar Observações</div>
    </div>
</div>

<Notification IsVisible="@showNotification" Message="@notificationMessage" NotificationType="@notificationType" OnClose="@CloseNotification" />

@code {

    private List<CartItem> CartItems = new List<CartItem>();
    private string DiscountCode = "";
    private bool NoPriceReceipt = false;

    private bool showNotification = false;
    private string notificationMessage = "";
    private string notificationType = "success";

    protected override void OnInitialized(){
        CartItems = CartService.GetCartItems();
        CartService.OnChange += UpdateCartItems;
    }

    private decimal SubTotal => CartItems.Sum(item => item.Quantity * item.Price);
    private decimal Total => SubTotal;

    private void IncrementQuantity(CartItem item){
        CartService.UpdateQuantity(item, item.Quantity + 1);
        StateHasChanged();
    }

    private void DecrementQuantity(CartItem item){
        if (item.Quantity > 1)
            CartService.UpdateQuantity(item, item.Quantity - 1);
        StateHasChanged();
    }

    private void UpdateCartItems(){
        CartItems = CartService.GetCartItems();
        StateHasChanged();
    }

    private void RemoveItem(CartItem item){
        CartService.RemoveItem(item);
    }

    private void Checkout()
    {
        if (AuthState.IsAuthenticated)
        {
            ProcessCheckout();
        }
        else
        {
            NavigationManager.NavigateTo("/login?returnUrl=/cart");
        }
    }

    private void ProcessCheckout()
    {
        if (AuthState.User.Estado)
        {
            if (CartItems.Count > 0)
            {
                NavigationManager.NavigateTo("/checkout");
            }
            else
            {
                ShowNotification("Carrinho está vazio! Continue a comprar!", "error");
            }
        }
        else
        {
            ShowNotification("A sua conta ainda não foi aprovada! Contacte o suporte!", "error");
        }
    }

    public void Dispose(){
        CartService.OnChange -= UpdateCartItems;
    }

    private void ShowNotification(string message, string type)
    {
        notificationMessage = message;
        notificationType = type;
        showNotification = true;
        StateHasChanged();
    }

    private void CloseNotification()
    {
        showNotification = false;
        StateHasChanged();
    }
}
