@page "/checkout"

@inject CartService CartService
@inject AuthStateService AuthState
@inject NavigationManager NavigationManager
@inject IApiServices _apiService

<PageTitle>Checkout</PageTitle>

<div class="container">
    <div class="header">
        <nav>
            <a>1. Envio</a>
            <a>2. Pagamento</a>
        </nav>
    </div>
    <div class="content">
        <div class="form-section">
            <EditForm Model="@checkoutModel" OnValidSubmit="ContinuarParaPagamento">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <h2>Detalhes de Envio</h2>
                <div class="form-group">
                    <label for="pais">* País</label>
                    <InputText id="pais" @bind-Value="checkoutModel.Pais" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="morada">* Morada</label>
                    <InputText id="morada" @bind-Value="checkoutModel.Morada" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="codigo-postal">* Código postal</label>
                    <InputText id="codigo-postal" @bind-Value="checkoutModel.CodigoPostal" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="telefone">* Telefone</label>
                    <InputText id="telefone" @bind-Value="checkoutModel.Telefone" class="form-control" />
                    <small>Para falarmos contigo sobre a tua encomenda</small>
                </div>

                <h2>Opções</h2>
                <InputRadioGroup @bind-Value="checkoutModel.EntregaExpressa" Name="entrega">
                    <div class="form-group options">
                        <label>
                            <InputRadio Value="false" /> Entregas normais
                            <small>4-5 dias úteis*</small>
                        </label>
                        <div class="price">Grátis</div>
                    </div>
                    <div class="form-group options">
                        <label>
                            <InputRadio Value="true" /> Entregas expresso
                            <small>3 - 5 dias úteis*</small>
                        </label>
                        <div class="price">12,00 €</div>
                    </div>
                </InputRadioGroup>

                <div class="form-group">
                    <button class="submit-btn" type="submit">Continuar para pagamento</button>
                </div>
            </EditForm>

        </div>

        <div class="summary-section">
            <h2>Resumo da encomenda</h2>

            <div class="summary-box">
                <div class="summary-item">
                    <span>@CartItems.Count Itens</span>
                </div>
                <div class="summary-item">
                    <span>Subtotal</span>
                    <span>@Total.ToString("F2") €</span>
                </div>
                <div class="summary-item">
                    <span>@(checkoutModel.EntregaExpressa ? "Entregas expresso" : "Entregas normais")</span>
                    <span>@(checkoutModel.EntregaExpressa ? "12,00 €" : "Grátis")</span>
                </div>
                <div class="summary-item">
                    <span>Total</span>
                    <span>@(Total + entrega) €</span>
                </div>
                <div class="summary-item">
                    <span>(23 % IVA incluído)</span>
                </div>
            </div>
        </div>
    </div>

</div>

<OrderInformationComponent IsVisible="@showOrderInfo" TextoPrincipal="Encomenda submetida! À espera de aprovação!" OnClose="HandleClose" />

<Notification IsVisible="@showNotification" Message="@notificationMessage" NotificationType="@notificationType" OnClose="@CloseNotification" />

@code {
    private List<CartItem> CartItems = new List<CartItem>();
    private Checkout checkoutModel = new Checkout();
    private bool showNotification = false;
    private string notificationMessage = "";
    private string notificationType = "success";

    private bool showOrderInfo = false;

    protected override void OnInitialized()
    {
        if (!AuthState.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login?returnUrl=/checkout");
        }

        CartItems = CartService.GetCartItems();
    }

    private decimal entrega => checkoutModel.EntregaExpressa ? 12.00m : 0.00m;
    private decimal SubTotal => CartItems.Sum(item => item.Quantity * item.Price);
    private decimal Total => SubTotal;

    private async Task ContinuarParaPagamento()
    {
        try
        {
            var encomenda = new Encomenda
            {
                Produtos = CartItems
                    .Where(item => item.Produto != null)
                    .Select(item => new CartItem
                    {
                        ID = item.ID,
                        Produto = item.Produto,
                        Quantity = item.Quantity,
                        Price = item.Price,
                        Size = item.Size
                    })
                    .ToList(),
                ClienteEmail = AuthState.User.Email,
                User = AuthState.User,
                Data = DateTime.Now,
                Pago = "Por Pagar",
                Estado = "Por Confirmar",
                PrecoTotal = Total + entrega
            };

            var result = await _apiService.AdicionarEncomenda(encomenda);
            if (result == null || result.ErrorMessage != null || result.Data == null)
            {
                ShowNotification($"{result!.ErrorMessage}", "error");
            }
            else
            {
                showOrderInfo = true;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void ShowNotification(string message, string type)
    {
        notificationMessage = message;
        notificationType = type;
        showNotification = true;
        StateHasChanged();
    }

    private void CloseNotification()
    {
        showNotification = false;
        StateHasChanged();
    }

    private void HandleClose()
    {
        showOrderInfo = false;
    }
}
