@page "/payment"

@inject CartService CartService
@inject AuthStateService AuthState
@inject NavigationManager NavigationManager
@inject IApiServices _apiService

<PageTitle>Pagamento</PageTitle>

<div class="container">
    <div class="header">
        <nav>
            <a>1. Envio</a>
            <a>2. Pagamento</a>
        </nav>
    </div>

    <div class="content">
        <div class="form-section">
            <EditForm Model="@paymentModel" OnValidSubmit="ProcessarPagamento">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <h2>Detalhes do Pagamento</h2>
                <div class="form-group">
                    <label for="metodo-pagamento">Método de Pagamento</label>
                    <InputSelect id="metodo-pagamento" @bind-Value="paymentModel.MetodoPagamento" class="form-control">
                        <option value="">Selecione um método</option>
                        <option value="cartao">Cartão de Crédito/Débito</option>
                        <option value="paypal">PayPal</option>
                        <option value="multibanco">Multibanco</option>
                    </InputSelect>
                </div>

                @if (paymentModel.MetodoPagamento == "cartao")
                {
                    <div class="form-group">
                        <label for="numero-cartao">* Número do Cartão</label>
                        <InputText id="numero-cartao" @bind-Value="paymentModel.NumeroCartao" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="nome-titular">* Nome do Titular</label>
                        <InputText id="nome-titular" @bind-Value="paymentModel.NomeTitular" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="data-validade">* Data de Validade</label>
                        <InputText id="data-validade" @bind-Value="paymentModel.DataValidade" class="form-control" placeholder="MM/AA" />
                    </div>
                    <div class="form-group">
                        <label for="codigo-seguranca">* Código de Segurança</label>
                        <InputText id="codigo-seguranca" @bind-Value="paymentModel.CodigoSeguranca" class="form-control" />
                    </div>
                }

                <div class="form-group">
                    <button class="submit-btn" type="submit">
                        Efetuar Pagamento
                    </button>
                </div>
            </EditForm>
        </div>

        <div class="summary-section">
            <h2>Resumo da encomenda</h2>

            <div class="summary-box">
                <div class="summary-item">
                    <span>@CartItems.Count Itens</span>
                </div>
                <div class="summary-item">
                    <span>Subtotal</span>
                    <span>@Total.ToString("F2") €</span>
                </div>
                <div class="summary-item">
                    <span>Entrega</span>
                    <span>@(EntregaExpressa ? "12,00 €" : "Grátis")</span>
                </div>
                <div class="summary-item">
                    <span>Total</span>
                    <span>@(Total + (EntregaExpressa ? 12.00m : 0.00m)) €</span>
                </div>
                <div class="summary-item">
                    <span>(23 % IVA incluído)</span>
                </div>
            </div>

            <h3>Endereço de Entrega</h3>
            <div class="summary-box">
                <div class="summary-item">
                    <span>Morada</span>
                    <span>@checkoutInfo!.Morada</span>
                </div>
                <div class="summary-item">
                    <span>Código Postal</span>
                    <span>@checkoutInfo!.CodigoPostal</span>
                </div>
                <div class="summary-item">
                    <span>Telefone</span>
                    <span>@checkoutInfo.Telefone</span>
                </div>
                <div class="summary-item">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<Notification IsVisible="@showNotification" Message="@notificationMessage" NotificationType="@notificationType" OnClose="@CloseNotification" />

@code {
    private PaymentModel paymentModel = new PaymentModel();
    private List<CartItem> CartItems = new List<CartItem>();

    private Checkout? checkoutInfo;
    private Encomenda? encomenda;
    private bool EntregaExpressa;

    private decimal Total;

    private bool showNotification = false;
    private string notificationMessage = "";
    private string notificationType = "success";

    protected override void OnInitialized()
    {
        if (!AuthState.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login?returnUrl=/payment");
        }

        CartItems = CartService.GetCartItems();

        checkoutInfo = CartService.CheckoutInfo;
        encomenda = CartService.Encomenda;
        EntregaExpressa = CartService.CheckoutInfo!.EntregaExpressa;

        Total = encomenda!.PrecoTotal;
    }

    private async Task ProcessarPagamento()
    {
        try
        {
            var pagamento = new Pagamento
            {
                EncomendaID = encomenda!.ID,
                Valor = Total + (EntregaExpressa ? 12.00m : 0.00m),
                MetodoPagamento = paymentModel.MetodoPagamento,
            };

            var result = await _apiService.AdicionarPagamento(pagamento);
            if (result == null || result.ErrorMessage != null || result.Data == null){
                ShowNotification($"{result!.ErrorMessage}", "error");
            }
            else{
                ShowNotification("Pagamento processado com sucesso!", "success");
                NavigationManager.NavigateTo("/orders");
            }
        }
        catch (Exception ex)
        {
            ShowNotification("Erro ao processar o pagamento: " + ex.Message, "error");
        }
    }

    private void ShowNotification(string message, string type)
    {
        notificationMessage = message;
        notificationType = type;
        showNotification = true;
        StateHasChanged();
    }

    private void CloseNotification()
    {
        showNotification = false;
        StateHasChanged();
    }
}
